Body {
  background-Image:url("https://i.pinimg.com/originals/0e/71/b0/0e71b047ed32bec3b707aec10ad7ba33.jpg");
  Color: black;
  font-family: Garamond, Georgia, serif;
  margin:10% 20%;
}
.exp-vangogh{
  background-Image:url("https://cdn.wallpapersafari.com/90/27/Dzn3JZ.jpg");
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-bottom:20px;
}

.exp-name {
  text-align: Left;
  border-top: 3.5px solid #f4f9c9;
  border-bottom: 3.5px solid #f4f9c9;
  border-Left: 3.5px solid #f4f9c9;
  border-Right: 3.5px solid #f4f9c9;
  background-color: rgba(0.6,0.6,0.6,.68);
  color: #ffffeb;
}

.exp-summary {
  text-align: center;
  Padding-left:20px;
  Padding-right:20px;
  background-color: #91bb81;
  border-Left: 2.5px solid hsl(116, 31%, 48%);
  border-Right: 2.5px solid hsl(116, 31%, 48%);
}

.exp-quote {
  font-style: italic;
}

div {
  Padding-left:20px;
  Padding-right:20px;
  background-color: #91bb81;
  border-top: 2.5px solid hsl(116, 31%, 48%);
  border-bottom: 2.5px solid hsl(116, 31%, 48%);
  border-Left: 2.5px solid hsl(116, 31%, 48%);
  border-Right: 2.5px solid hsl(116, 31%, 48%);
}

.exp-header  {
  text-align: center;
  text-transform: uppercase;
  border-top: 4.5px solid #f4f9c9;
  border-bottom: 4.5px solid #f4f9c9;
  border-Left: 4.5px solid #f4f9c9;
  border-Right: 4.5px solid #f4f9c9;
  background-color: rgba(0.6,0.6,0.6,.68);
  color: #ffffeb;
}
