Body {
  background-Image:url("https://i.pinimg.com/originals/0e/71/b0/0e71b047ed32bec3b707aec10ad7ba33.jpg");
  Color: black;
  font-family: arial, helvetica, sans-serif;
  margin:10% 20%;
}

div {
  Padding-left:10px;
  background-color: #D8BFD8;
  border-top: 5px solid #d8bfd8;
  border-bottom: 5px solid #d8bfd8;
}

.exp-intro {
  Padding-left:10px;
  background-color: #D8BFD8
}

.exp-header  {
  text-align: center;
  text-transform: uppercase;
  border-top: 5px solid #fffff6;
  border-bottom: 5px solid #fffff6;
  background-color: rgba(0,0,0,0.6);
  color: #fffff6;
}
