Body {
  background-color: rgba(177, 217, 190, .30);
  Color: black;
  font-family: Garamond, Georgia, serif;
  margin:5% 10% 10%;
}

.exp-vangogh{
  background-Image:url("https://cdn.wallpapersafari.com/90/27/Dzn3JZ.jpg");
  opacity: 97%;
  border-top: 4.5px solid rgba(.8,.8,.8,.75);
  border-bottom: 4.5px solid rgba(.8,.8,.8,.75);
  border-Left: 4.5px solid rgba(.8,.8,.8,.75);
  border-Right: 4.5px solid rgba(.8,.8,.8,.75);
  padding-top:20px;
  padding-right:20px;
  padding-bottom:20px;
  margin-bottom:20px;
}

.exp-name {
  text-align: Left;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top: 4.5px solid rgba(.8,.8,.8,.75);
  border-bottom: 4.5px solid rgba(.8,.8,.8,.75);
  border-Left: 4.5px solid rgba(.8,.8,.8,.75);
  border-Right: 4.5px solid rgba(.8,.8,.8,.75);
  background-color: rgba(.8,.8,.8,.80);
  color: #fffffe;
}

.exp-contact {
  text-align: Right
}
.exp-summary {
  text-align: center;
  Padding-left:20px;
  Padding-right:20px;
  background-color: rgba(177, 217, 209, .91);
  border-Left: 4.5px solid rgba(.8,.8,.8,.75);
  border-Right: 4.5px solid rgba(.8,.8,.8,.75);
}

.exp-quote {
  font-style: italic;
}

.exp-header  {
  text-align: center;
  text-transform: uppercase;
  border-top: 4.5px solid rgba(.8,.8,.8,.75);
  border-bottom: 4.5px solid rgba(.8,.8,.8,.75);
  border-Left: 4.5px solid rgba(.8,.8,.8,.75);
  border-Right: 4.5px solid rgba(.8,.8,.8,.75);
  background-color: rgba(0.6,0.6,0.6,.78);
  color: #fffffe;
}

.exp-education{
  border-bottom-left-radius: 25px;
  Border-bottom-right-radius:25px;
}

div {
  Padding-top:5px;
  Padding-bottom:5px;
  Padding-left:20px;
  Padding-right:20px;
  background-color: rgba(177, 217, 209, .91);
  
  border-top: 3px solid rgba(.8,.8,.8,.75);
  border-bottom: 3px solid rgba(.8,.8,.8,.75);
  border-Left: 4.5px solid rgba(.8,.8,.8,.75);
  border-Right: 4.5px solid rgba(.8,.8,.8,.75);
}

h4 {
  text-transform: uppercase;
}
